.main-header{
    background-color: $nav-bg;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    transition: background-color .3s ease;
    @include media-to(md){
        height: 60px;
        line-height: 60px;
    }
    a{
        color: $nav-text-mobile;
        @include media-to(md){
            color: $nav-text;
        }
        &:hover,
        &:active{
            color: $nav-text;
            @include media-to(md){
                color: $nav-text-hover;
            }
        }
    }  
}

.fixedtop{
    @include positioning($position: fixed, $top: 0, $left: 50%, $transx: -50%, $transy: 0);
    width: 100%;
    max-width: $max-width;
    z-index: 1000;
}